RAILS_MAX_THREADS=5
DATABASE_HOST=db
DATABASE_USERNAME=root
DATABASE_PWD=
LANG=C.UTF-8

MAXIMUM_DOWNLOAD_RECORDS=10000

# SMTP config
SETTINGS__SMTP__ADDRESS=smtp
SETTINGS__SMTP__DOMAIN=domain
SETTINGS__SMTP__USER_NAME=smtp
SETTINGS__SMTP__PASSWORD=smtp
SETTINGS__SMTP__PORT=1025
SETTINGS__SMTP__HOST=localhost:3000
SETTINGS__SMTP__DEFAULT_FROM=notifications@example.org

# Grafana setting
GF_DASHBOARD_URL=http://localhost:8000/login/generic_oauth
GF_DASHBOARD_ADMIN_USERNAME=admin
GF_DASHBOARD_ADMIN_PASSWORD=123456
GF_DASHBOARD_BASE_URL=http://192.168.1.119:8000

# For Sidekiq
REDIS_URL=redis://redis:6379

# CORS allow domains separated by comma
CORS_ALLOW_ORIGINS=localhost:8000

# Google Oauth2
# Go to 'https://console.developers.google.com'
# Select your project.
# Go to Credentials, then select the "OAuth consent screen" tab on top, # and provide an 'EMAIL ADDRESS' and a 'PRODUCT NAME'
# Wait 10 minutes for changes to take effect.
GOOGLE_CLIENT_ID=client_id
GOOGLE_CLIENT_SECRET=client_secret

# TreyVisay app play store url
MOBILE_APP_URL=https://me-qr.com/lPQFS85v

# Privacy policy contact info
CONTACT_EMAIL=
CONTACT_PHONE=

# Web app information
APP_NAME=ត្រីវិស័យ
APP_VERSION=2.0.0

# sentry logger
SENTRY_DSN=

# Recaptcha
# https://www.google.com/recaptcha/admin/create
RECAPTCHA_SITE_KEY=change_me
RECAPTCHA_SECRET_KEY=change_me

# rack-attack
SAFELIST_IPS=127.0.0.1 #semi-colon separate
BLOCKLIST_IPS=10.10.10.1;10.10.10.2 #semi-colon separate
THROTTLE_PERIOD_IN_SECOND=2
THROTTLE_REQUEST_LIMIT=5
