= render "shared/headers/progress_arrow_header", title: t("shared.importing_wizard", name: t("sidebar.intelligence_category"))

= render "shared/forms/wizard_form", cancel_url: intelligence_categories_path, sample_url: '/sample/multiple_intelligence_category.xlsx', item: @batch, form_url: intelligence_category_importers_path
