.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= t('sidebar.self_understanding_question')

  %div
    = render "shared/buttons/download_button", url: self_understanding_questions_path(format: :xlsx)

    / More Options
    .btn-group
      %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
        %i.fas.fa-ellipsis-v

      .dropdown-menu.dropdown-menu-right
        %a.btn.dropdown-item{ href: self_understanding_questions_path(format: :json), target: '_blank' }
          %i.fas.fa-download.drop-menu-icon
          %span= t('shared.download_json')
