- if controller_name != 'sessions'
  .mb-1= link_to t('devise.sign_in'), new_session_path(resource_name)

- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  .mb-1= link_to t('devise.forgot_your_password'), new_password_path(resource_name)
