.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= t('sidebar.visit')

  %div
    = render "shared/buttons/download_button", url: visits_path(filter_params.merge(format: :xlsx))
