= render "shared/headers/progress_arrow_header", title: t("shared.importing_wizard", name: t('sidebar.higher_school'))

= render "shared/forms/wizard_form", cancel_url: schools_path, sample_url: '/sample/higher_school.xlsx', item: @batch, form_url: school_importers_path

