= render "shared/headers/progress_arrow_header", title: t("school.importing_school_wizard")

= render "shared/forms/wizard_form", cancel_url: schools_path, sample_url: '#', item: @batch, form_url: school_importers_path

