%ul.nav.nav-tabs.nav-justified
  %li.nav-item
    %a.nav-link{ href: user_path(@user), class: css_active_class('users') }
      %span.d-none.d-lg-inline= t("user.profile")

  %li.nav-item
    %a.nav-link{ href: user_games_path(@user), class: css_active_class('games') }
      %span.d-none.d-lg-inline= "ការធ្វើតេស្តវាយតម្លៃមុខរបរនិងអាជីព"

  %li.nav-item
    %a.nav-link{ href: user_personality_tests_path(@user), class: css_active_class('personality_tests') }
      %span.d-none.d-lg-inline= "ការធ្វើតេស្តអំពីបុគ្គលិកលក្ខណៈ"
