/ Page Heading
.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= "អ្នកប្រើប្រាស់ឈ្មោះ #{@user.full_name}"

= render "tab_header"

.card.shadow.mb-4
  .card-body
    = render 'shared/show_user_profile'
