- if notice.present?
  .alert.alert-success.notify-message.alert-dismissible.fade.show
    = notice
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×

- if alert.present?
  .alert.alert-danger.notify-message.alert-dismissible.fade.show
    = alert
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} ×

:javascript
  setTimeout(function() {
    $( ".alert" ).fadeOut( "slow" )
  }, 4000);
