= render "shared/headers/progress_arrow_header", title: t("shared.importing_wizard", name: t("sidebar.college_major"))

= render "shared/forms/wizard_form", cancel_url: majors_path, sample_url: '/sample/majors.xlsx', item: @batch, form_url: major_importers_path
