= content_for :title do
  = t('sidebar.page')

= form_for "", url: pages_path, method: 'get' do |f|
  .d-flex
    = render "shared/filters/filter_name", placeholder: t('shared.search_by_code_or_name')
