= render "shared/headers/progress_arrow_header", title: t("shared.importing_wizard", name: t("sidebar.job_cluster"))

= render "shared/forms/wizard_form", cancel_url: job_clusters_path, sample_url: '/sample/job_cluster.xlsx', item: @batch, form_url: job_cluster_importers_path
