= f.hidden_field(:district_id, value: params[:district_id])
= f.select(:district_id, [], {:include_blank => t("shared.all_districts")}, {:data => {:pumi_select_id => "district", :pumi_select_target => "school", :pumi_select_collection_url => pumi.districts_path(:province_id => "FILTER"), :pumi_select_collection_url_filter_interpolation_key => "FILTER", :pumi_select_collection_label_method => "name_#{I18n.locale}", :pumi_select_collection_value_method => "id", :pumi_select_disabled_target => "#district", :pumi_select_has_hidden_value => true}, class: 'form-control custom-select'})
