.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= t('shared.importing_history', name: t('sidebar.career_website'))

  .d-flex.mt-3.mt-md-0.justify-content-end
    = render "shared/buttons/back_button", url: career_websites_path
    = render "shared/buttons/add_new_button", url: new_career_website_importer_path, name: t('sidebar.career_website')

= render "shared/batches/batch_list"
