= render "shared/headers/progress_arrow_header", title: t("shared.importing_wizard", name: t("sidebar.job"))

= render "shared/forms/wizard_form", cancel_url: jobs_path, sample_url: '/sample/job.xlsx', item: @batch, form_url: job_importers_path
