= render "shared/headers/progress_arrow_header", title: t("shared.importing_wizard", name: t("sidebar.high_school"))

= render "shared/forms/wizard_form", cancel_url: high_schools_path, sample_url: '/sample/high_school.xlsx', item: @batch, form_url: high_school_importers_path
