= render "shared/headers/progress_arrow_header", title: t("middle_school.importing_high_school_wizard")

= render "shared/forms/wizard_form", cancel_url: middle_schools_path, sample_url: '#', item: @batch, form_url: middle_school_importers_path

