/ - if account.deleted?
/   / Restore
/   = link_to restore_account_path(account), class: "btn btn-circle btn-sm btn-outline-warning me-1", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top', turbo_method: :put }, title: t('shared.restore') do
/     %i.fas.fa-trash-restore

/   / Really destroy
/   - if policy(account).destroy?
/     = render 'shared/buttons/delete_button', object: account, message: { type: t('account.account'), name: account.email, url: account_path(account) }
/   - else
/     %button.disabled.btn.btn-circle.btn-sm.btn-outline-danger.me-1{data: {'bs-toggle': 'tooltip', 'bs-placement': 'top', title: t('account.cannnot_be_deleted')}}
/       %i.fas.fa-trash-alt

/ - else
- if policy(account).archive?
  - unless account.confirmed?
    / Resend confirmation
    / = link_to resend_confirmation_account_path(account), class: "btn btn-success btn-xs", data: { 'bs-toggle': 'tooltip', 'bs-placement': 'top', turbo_method: :post }, title: t('account.resend_confirmation') do
    /   %i.fas.fa-share-square

    / Copy confirm link
    = render "shared/buttons/copy_button", value: confirmation_url(account, confirmation_token: account.confirmation_token), tooltip_title: t('account.copy_confirm_link'), button_css_class: 'btn-outline-secondary btn-circle'

  / Edit
  = render 'shared/buttons/edit_button', object: account, url: edit_account_path(account)

  / Archive
  = link_to archive_account_path(account), class: "btn btn-danger btn-xs", "data-method" => "delete", data: { confirm: 'តើអ្នពិតជាចង់លុបគណនេយ្យនេះបណ្តោះអាសន្នមែនទេ?' } do
    %span.glyphicon.glyphicon-remove
    = t('shared.delete')
